.login-container {
    background: #f1f1f1;
    width: 350px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.2);
    margin: 0 auto;
    padding: 20px;
    align-content: center;
}

.login-form {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    & h1 {
        font-size: 36px;
    }
    
    & input {
        width: 270px;
        height: 30px;
        font-size: 14px;
        border: 1px solid #d1d1d1;
        border-radius: 5px;
        outline: none;
        text-align: center;
    }
    
    & button {
        background: #ffffff;
        width: 120px;
        height: 40px;
        font-size: 16px;
        border: 1px solid #d1d1d1;
        border-radius: 10px;
        cursor: pointer;
        transition: .3s;
    }

    & button:hover {
        background: #eeeeee;
    }

    & button:active {
        background: #f7f7f7;
    }
    
    & span {
        color: black;
    }

    & a {
        color: #3554e0;
        text-decoration: none;
        cursor: pointer;
    }
    
    & a:hover {
        text-decoration-line: underline;
    }
}
